<div class="Menu">
    <ul>
        <li>
            <a href="#" class="menu-icon"> <i class="fa fa-twitter" style="font-size:32px"></i></a>
        </li>
        <li>
            <a href="/Home/Index" class="menu-icon"> <i class="fa fa-home" style="font-size:32px"></i></a>
            <a class="menu-text" href="/Home/Index">Anasayfa</a>
        </li>

        <li>
            <a href="#" class="menu-icon"> <i class="fa fa-hashtag" style="font-size:32px"></i></a>
            <a class="menu-text" href="#">Keşfet</a>
        </li>
        <li>
            <a href="#" class="menu-icon"><i class="fa fa-bell" style="font-size:32px"></i></a>
            <a class="menu-text" href="#">Bildirimler</a>
        </li>
        <li>
            <a href="#" class="menu-icon"><i class="fa fa-envelope" style="font-size:32px"></i></a>
            <a class="menu-text" href="#">Mesajlar</a>
        </li>
        <li>
            <a href="#" class="menu-icon"><i class="fa fa-bookmark" style="font-size:32px"></i></a>
            <a class="menu-text" href="#">İşaretler</a>
        </li>
        <li>
            <a href="#" class="menu-icon"><i class="fa fa-list-ul" style="font-size:32px"></i></a>
            <a class="menu-text" href="#">Listeler</a>
        </li>

        <li>
            <a class="menu-icon" href="/profile"> <i class='fa fa-user' style='font-size:32px'></i></a>
            <a class="menu-text" href="/profile">Profil</a>
        </li>
        <li>
            <a href="/Security/Logout" class="menu-icon"> <i class="fa fa-sign-out" style='font-size:32px'></i></a  >
            <a href="/Security/Logout" class="menu-text">Çıkış</a>
        </li>
    </ul>
</div>